.loader{
    content: '';
    /*box-sizing: border-box;*/
    position: absolute;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
    /*border-radius: 50%;*/
    /*  border: 2px solid #ccc;
      border-top-color: #333;*/
    animation: spinner  linear infinite;
    background: url('/images/loading2.gif')
    50% 50% no-repeat rgb(249,249,249);
    z-index: 1100;
}

li.select2-selection__choice{
  background-color:#28A745  !important ;
}
span.select2-selection__choice__remove{
  color:white !important;
}
div.div-hover:hover{
    background: #f46a6a;
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #f7f8f8;
  color: #16181b
}


.ibox {
  position: relative;
  margin-bottom: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

.ibox .ibox-head {
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px
}

.ibox .ibox-head .ibox-title {
  font-size: 16px;
  font-weight: 600
}

.ibox .ibox-head .ibox-title small {
  font-weight: 400;
  font-size: 13px;
  color: #777
}

.ibox .ibox-head .ibox-title small a {
  color: inherit
}

.ibox .ibox-head .ibox-tools {
  position: relative
}

.ibox .ibox-head .ibox-tools > a {
  color: #aaa;
  font-size: 14px;
  padding: 0 6px
}

.ibox .ibox-head .ibox-tools > a:hover {
  color: #6d7c85
}

.ibox .ibox-head .nav-tabs {
  margin: 0;
  border: 0;
  height: 100%
}

.ibox .ibox-head .nav-tabs .nav-link {
  height: 100%;
  padding: .9rem 1rem
}

.ibox .ibox-body {
  padding: 15px 20px 20px 20px
}

.ibox .ibox-footer {
  padding: 10px 0;
  border-top: 1px solid #eee
}

.ibox.ibox-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1005
}

.ibox.ibox-fullscreen .fullscreen-link > i::before {
  content: "\f066"
}

.ibox.collapsed-mode .ibox-collapse > i::before {
  content: "\f067"
}

.ibox-primary .ibox-head {
  color: #fff;
  background-color: #3498db
}

.ibox-primary .ibox-head .ibox-tools > a, .ibox-primary .ibox-head .ibox-tools > a:hover {
  color: #fff
}

.ibox-success .ibox-head {
  color: #fff;
  background-color: #2ecc71
}

.ibox-success .ibox-head .ibox-tools > a, .ibox-success .ibox-head .ibox-tools > a:hover {
  color: #fff
}

.ibox-info .ibox-head {
  color: #fff;
  background-color: #23b7e5
}

.ibox-info .ibox-head .ibox-tools > a, .ibox-info .ibox-head .ibox-tools > a:hover {
  color: #fff
}

.ibox-warning .ibox-head {
  color: #fff;
  background-color: #f39c12
}

.ibox-warning .ibox-head .ibox-tools > a, .ibox-warning .ibox-head .ibox-tools > a:hover {
  color: #fff
}

.ibox-danger .ibox-head {
  color: #fff;
  background-color: #e74c3c
}

.ibox-danger .ibox-head .ibox-tools > a, .ibox-danger .ibox-head .ibox-tools > a:hover {
  color: #fff
}

.ibox-grey .ibox-head {
  color: #fff;
  background-color: #bdc3c7
}

.ibox-grey .ibox-head .ibox-tools > a, .ibox-grey .ibox-head .ibox-tools > a:hover {
  color: #fff
}